In [1]:
# 'date' 열의 int형 숫자를 나눠서 'year', 'month', 'day' 열으로 추가하기
# ex) 202101150000000 ---> 'year' = 2021, 'month' = 01, 'day' = 15
# 영필씨 조 스터디에서 배웠습니다.

import pandas as pd

date = {'date': range(202101150000000,202101150000010)}

df = pd.DataFrame(date)
df

              date
0  202101150000000
1  202101150000001
2  202101150000002
3  202101150000003
4  202101150000004
5  202101150000005
6  202101150000006
7  202101150000007
8  202101150000008
9  202101150000009

In [2]:
# 'date' 열의 타입은 int64
df.dtypes

date    int64
dtype: object

In [3]:
# .slice 메소드를 사용하기 위해서, .astype 메소드를 통해 'date' 열의 타입을 int64에서 str으로 변경
df['date_s'] = df['date'].astype('str')
df.dtypes

date       int64
date_s    object
dtype: object

In [4]:
df.head(3)

              date           date_s
0  202101150000000  202101150000000
1  202101150000001  202101150000001
2  202101150000002  202101150000002

In [5]:
# .apply 메소드는 데이터프레임 메소드이므로 대괄호가 2개이어야 함
# .apply 메소드에는 데이터프레임의 각 열이 시리즈 형태로 인자로 전달됨
# slice는 Series.str.slice(start=None, stop=None, step=None)의 형태로 쓰임
df['year'] = df[['date_s']].apply(lambda x: x.str.slice(start=0, stop=4))
df['month'] = df[['date_s']].apply(lambda x: x.str.slice(start=4, stop=6))
df['day'] = df[['date_s']].apply(lambda x: x.str.slice(start=6, stop=8))
df.head(3)

              date           date_s  year month day
0  202101150000000  202101150000000  2021    01  15
1  202101150000001  202101150000001  2021    01  15
2  202101150000002  202101150000002  2021    01  15

In [6]:
# 필요없는 열 제거
df.drop(['date', 'year', 'month', 'day'], axis=1, inplace=True)

In [7]:
# 대괄호 2개 : dataframe 형태
df[['date_s']].head(3)

            date_s
0  202101150000000
1  202101150000001
2  202101150000002

In [8]:
# 대괄호 1개 : series 형태
df['date_s'].head(3)

0    202101150000000
1    202101150000001
2    202101150000002
Name: date_s, dtype: object

In [9]:
# to_datetime() 함수로 int형 데이터를 datetime64 자료형으로 변환하기
df['new_date'] = df[['date_s']].apply(lambda x: x.str.slice(start=0, stop=8))
df['new_date_s'] = pd.to_datetime(df['new_date'])
df.head(3)

            date_s  new_date new_date_s
0  202101150000000  20210115 2021-01-15
1  202101150000001  20210115 2021-01-15
2  202101150000002  20210115 2021-01-15

In [10]:
df.dtypes

date_s                object
new_date              object
new_date_s    datetime64[ns]
dtype: object

In [11]:
news = {'news':["'광사태 현상'을 일으키는 나노입자가 세계 최초로 포착됐다. 광사태 현상은 작은 빛 에너지를 특정 나노 물질에 쏘이면 물질 내에서 빛의 연쇄 증폭 반응이 일어나 더 큰 빛에너지를 대량 방출하는 현상이다. 빛 에너지를 활용해 전기에너지를 얻는 태양광 발전이나, 빛을 활용한 바이러스 진단, 자율주행의 눈으로 불리는 라이더의 경쟁력 확보 등 다양한 미래기술의 발전에 기여할 것으로 예상된다.",
                "인도네시아 동굴에서 현생 인류가 4만5000여년 전에 그린 멧돼지 그림이 발견됐다. 연구진은 지구에서 가장 오래된 동물 벽화이자 사물의 형태를 구분할 수 있는 구상화(具象畵)로는 최초의 그림이라고 밝혔다.",
                "국내 연구팀이 동물의 뇌 신호를 빛으로 나타내는 기술을 활용해 집단지능 원리를 밝히는 새로운 연구 방법을 개발했다. 최지현 한국과학기술연구원(KIST) 뇌과학연구소 책임연구원 연구팀은 동물의 뇌파 신호를 발광다이오드(LED)로 표시하는 시스템 씨브레인(CBRAIN) 개발해 쥐 무리의 집단 행동을 분석했다고 14일 밝혔다."]}

df2 = pd.DataFrame(news)
df2

                                                news
0  '광사태 현상'을 일으키는 나노입자가 세계 최초로 포착됐다. 광사태 현상은 작은 빛...
1  인도네시아 동굴에서 현생 인류가 4만5000여년 전에 그린 멧돼지 그림이 발견됐다....
2  국내 연구팀이 동물의 뇌 신호를 빛으로 나타내는 기술을 활용해 집단지능 원리를 밝히...

In [16]:
df2['news_s'] = df2[['news']].apply(lambda x: x.str.slice(start=0, stop=20))
df2

                                                news                news_s
0  '광사태 현상'을 일으키는 나노입자가 세계 최초로 포착됐다. 광사태 현상은 작은 빛...  '광사태 현상'을 일으키는 나노입자가
1  인도네시아 동굴에서 현생 인류가 4만5000여년 전에 그린 멧돼지 그림이 발견됐다....  인도네시아 동굴에서 현생 인류가 4만
2  국내 연구팀이 동물의 뇌 신호를 빛으로 나타내는 기술을 활용해 집단지능 원리를 밝히...  국내 연구팀이 동물의 뇌 신호를 빛으